%h1 Most Recent Chirps

%table
  %tr
    %th Id
    %th Message
    %th Upvotes
    %th Actions
  - @chirps.each do |chirp|
    %tr
      %td= chirp.id
      %td.message= chirp.message
      %td.upvotes= chirp.upvote_count
      %td.actions
        - if chirp.already_upvoted?(request.remote_ip)
          = button_to 'Remove Upvote', remove_upvote_path(chirp.id), method: :delete
        - else
          = button_to 'Upvote', upvote_path(chirp.id)

= link_to 'New Chirp', new_chirp_path
