%h1 Most Recent Chirps

%table
  %tr
    %th Id
    %th Message
    %th Upvotes
    %th Actions
    %th Score
  - @chirps.each do |chirp|
    %tr
      %td= chirp.id
      %td.message= chirp.message
      %td.upvotes{id: "upvotes_#{chirp.id}"}= chirp.upvote_count
      %td.actions
        %button{id: "button_upvote_#{chirp.id}", onclick: "upvote(#{chirp.id})", hidden: chirp.already_upvoted?(request.remote_ip)}= 'Upvote'
        %button{id: "button_remove_upvote_#{chirp.id}", onclick: "remove_upvote(#{chirp.id})", hidden: !chirp.already_upvoted?(request.remote_ip)}= 'Remove Upvote'
      %td{id: "score_#{chirp.id}"}= chirp.score

= link_to 'New Chirp', new_chirp_path

:javascript
  function upvote(chirp_id) {
    $.ajax({
      url: '/upvote',
      method: 'post',
      data: {
        chirp_id: chirp_id
      }
    }).done(response => {
      $(`#upvotes_${chirp_id}`).html(response.upvote_count);
      $(`#score_${chirp_id}`).html(response.score);

      $(`#button_upvote_${chirp_id}`).hide();
      $(`#button_remove_upvote_${chirp_id}`).show();
    })
  }

  function remove_upvote(chirp_id) {
    $.ajax({
      url: '/upvote',
      method: 'delete',
      data: {
        chirp_id: chirp_id
      }
    }).done(response => {
      $(`#upvotes_${chirp_id}`).html(response.upvote_count);
      $(`#score_${chirp_id}`).html(response.score);

      $(`#button_upvote_${chirp_id}`).show();
      $(`#button_remove_upvote_${chirp_id}`).hide();
    })
  }
